<div class="container mt-4">
    <h2>Create New User</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>

        <div class="form-group mt-2">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>

        <div class="form-group mt-2">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-group mt-2">
            <label>Role</label>
            <select class="form-control" formControlName="role">
                <option value="ADMIN">Admin</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>
                <option value="USER">User</option>
            </select>
        </div>

        <button class="btn btn-primary mt-3" type="submit">Create User</button>
    </form>

    <p class="text-success mt-3" *ngIf="successMessage">{{successMessage}}</p>
    <p class="text-danger mt-3" *ngIf="errorMessage">{{errorMessage}}</p>
</div>