<div class="root-master-container">

    <div class="parent">
        <h2 class="title">Batcher Master</h2>
    </div>

    <!-- FORM -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="root-form">

        <div class="field">
            <input type="text" formControlName="name" placeholder=" " />
            <label>Batcher Name</label>
        </div>

        <button type="submit" class="btn-submit">
            {{ isEdit ? 'Update' : 'Submit' }}
        </button>

    </form>

    <!-- TABLE -->
    <div class="table-wrapper" *ngIf="paginatedBatchers.length > 0">
        <div class="table-scroll" *ngIf="paginatedBatchers.length > 0">
            <table class="lead-table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Batcher Name</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let b of paginatedBatchers; let i = index">
                        <td>{{ batchers.length - ((page - 1) * pageSize + i) }}</td>
                        <td>{{ b.name }}</td>
                        <td>
                            <button class="edit-btn" (click)="editBatcher(b)">Edit</button>
                            <button class="delete-btn" (click)="deleteBatcher(b)" style="margin-left: 10px; background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- PAGINATION -->
        <div class="pagination" *ngIf="totalPages() > 1">

            <!-- PREV -->
            <button class="page-btn" (click)="prevPage()" [disabled]="page === 1">
                Prev
            </button>

            <!-- PAGE NUMBERS -->
            <button class="page-btn" *ngFor="let p of [].constructor(totalPages()); let i = index"
                (click)="setPage(i + 1)" [class.active]="page === i + 1">
                {{ i + 1 }}
            </button>

            <!-- NEXT -->
            <button class="page-btn" (click)="nextPage()" [disabled]="page === totalPages()">
                Next
            </button>

        </div>

    </div>

</div>
