<div class="root-master-container">

    <div class="main">
        <h2 class="title">District Master</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="root-form">

        <!-- STATE DROPDOWN -->
        <div class="field">
            <!-- <select formControlName="stateId" required> -->
            <select formControlName="stateId" (change)="onStateChange()" required>

                <option value="" disabled hidden></option>
                <option *ngFor="let s of states" [value]="s.id">
                    {{ s.name }}
                </option>
            </select>
            <label>State</label>
        </div>

        <!-- DISTRICT NAME -->
        <div class="field">
            <input type="text" formControlName="name" placeholder=" " required />
            <label>District Name</label>
        </div>

        <!-- SUBMIT -->
        <button type="submit" class="btn-submit">
            {{ isEdit ? 'Update' : 'Submit' }}
        </button>

    </form>

    <!-- TABLE -->
    <!-- <div class="table-wrapper" *ngIf="paginated.length">
        <table>
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>District</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let d of paginated; let i = index">
                    <td>{{ districts.length - ((page - 1) * pageSize + i) }}</td>

                    <td>{{ d.name }}</td>
                    <td>{{ d.state?.name }}</td>

                    <td>
                        <button class="btn-edit" (click)="edit(d)">Edit</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div> -->

    <div class="table-wrapper" *ngIf="paginated.length">

        <div class="table-scroll">

            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let d of paginated; let i = index">
                        <td>{{ districts.length - ((page - 1) * pageSize + i) }}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.state?.name }}</td>
                        <td>
                            <button class="btn-edit" (click)="edit(d)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="pagination">
            <button *ngFor="let p of [].constructor(totalPages()); let i = index" (click)="setPage(i + 1)"
                [disabled]="page === i + 1">
                {{ i + 1 }}
            </button>
        </div>

    </div>


</div>